body {
    /* background-color: #2c3347; */
    background-image: linear-gradient(to bottom, #051937, #09152d, #0b1024, #080b1b, #030411);
    color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;

  }
  
  .stopwatch {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    min-height: 100vh;
    align-items: center;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 270px;
    width: 270px;
  
    border: 2px solid;
    border-radius: 50%;
    margin: 0px;
  }
  
  .time {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 48px;
  }
  
  .gold {
    font-weight: 200;
    color: #f3f3f3;
    text-shadow: 0px 0px 17px #ffbf00, 0px 0px 20px #fbbc00;
    /* text-shadow: 2px -2px 0px red, 0 0 2em red, 0 0 0.2em blue; */
  }
  .gold h1{
    font-size: 48px !important;
    font-weight: 200;
    text-align: center;
    line-height: 59px;
}

  
  .controls {
    /* display: block; */
    padding: 10px;
    margin-top: 25px;
  }
  
  button {
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;
    margin: 10px;
    outline: none;
    border: 2px solid white;
    border-radius: 50%;
  }
  
  #playButton {
    display: block;
  }
  button:hover{
    border: 2px solid rgb(254, 25, 25);
    color: red;
  }
  
  #pauseButton {
    display: none;
  }

#lap-container{
  width: 250px;
  /* text-align: center; */
}

#lap-container h1{
  font-weight: 200;
}
#lapList li{
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  list-style: none;
  margin: 5px;
  font-size: large;
}